.card {
  border: 1px solid #979797;
  background: #fff;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  margin-right: 2px;
  margin-left: 2px;
  .card-image {
    width: 100%;
  }
}
.card-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card-name {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
}
.card-description {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
