.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}
.footer {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 90px;
}
