.header {
  background: url(../img/sumidero_canyon.png) 0px 0px / cover no-repeat;
  h1 {
    color: #fff;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 175px;
    margin-top: 175px;
  }
}
